@charset "UTF-8";

div#audio-video {
    width: 80%;
    height: 600px;
    background: url("/_imagens/tv-radio.png") no-repeat;
    margin-left: 200px;
    margin-top: -150px;
}

audio#musica {
    display: block;
    position: relative;
    left: 565px;
    top: 450px;
    width: 320px;
}

iframe#frame {
    margin-top: 150px;
    margin-left: 5px;
}